@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-fold-marker-after;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
  .find-result .region {
      border: none;
      border-bottom: 2px solid @syntax-result-marker-color;
  }

  .current-result .region {
      border: 1px solid @syntax-result-marker-color-selected;
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}

.syntax--comment {
  color: @syntax-comment;
}

.syntax--keyword {
  color: @syntax-keyword;

  &.syntax--control {
    color: @syntax-keyword;
  }

  &.syntax--operator {
    color: @syntax-builtin;
  }

  &.syntax--other.syntax--special-method {
    color: @syntax-builtin;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-builtin;
  }
}

.syntax--storage {
  color: @syntax-keyword;
}

.syntax--constant {
  color: @syntax-constant;

  &.syntax--character.syntax--escape {
    color: @syntax-constant-escape;
  }

  &.syntax--numeric {
    color: @syntax-constant;
  }

  &.syntax--other.syntax--color {
    color: @syntax-constant;
  }

  &.syntax--other.syntax--symbol {
    color: @syntax-variable;
  }
}

.syntax--variable {
  color: @syntax-variable;

  &.syntax--interpolation {
    color: @syntax-constant-interpolate;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-variable;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @syntax-hi-error-bg;
  color: @syntax-hi-error-fg;
}

.syntax--string {
  color: @syntax-constant;


  &.syntax--regexp {
    color: @syntax-regexp;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @syntax-regexp;
    }
  }

  &.syntax--other.syntax--link {
    color: @syntax-link;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @syntax-comment;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @syntax-variable;
    }

    &.syntax--bold {
      color: @syntax-bold;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @syntax-italic;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: @syntax-header;
  }

}

.syntax--support {
  &.syntax--class {
    color: @syntax-type;
  }

  &.syntax--function  {
    color: @syntax-function;

    &.syntax--any-method {
      color: @syntax-function;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @syntax-function;
  }
  &.syntax--name.syntax--type {
    color: @syntax-type;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-type-inherited;
  }
  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @syntax-type;
  }

  &.syntax--name.syntax--section {
    color: @syntax-header;
  }

  &.syntax--name.syntax--tag {
    color: @syntax-function;
  }

  &.syntax--other.syntax--attribute-name {
    color: @syntax-variable;

    &.syntax--class {
        color: @syntax-function;
    }

    &.syntax--id {
      color: @syntax-constant;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @syntax-type;
  }

  &.syntax--link {
    color: @syntax-link;
  }

  &.syntax--require {
    color: @syntax-link;
  }

  &.syntax--selector {
    color: @syntax-regexp;
  }

  &.syntax--separator {
    background-color: @syntax-background-color;
    color: @syntax-header;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @syntax-bold;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @syntax-color-modified;
  }

  &.syntax--deleted {
    color: @syntax-color-renamed;
  }

  &.syntax--italic {
    color: @syntax-italic;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @syntax-header;
  }

  &.syntax--inserted {
    color: @syntax-color-added;
  }

  &.syntax--list {
    color: @syntax-block-element;
  }

  &.syntax--quote {
    color: @syntax-quote;
  }

  &.syntax--raw.syntax--inline {
    color: @syntax-verbatim;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @syntax-header;
  }
}
